
{%extends "base.html" %}
{% load static %}
{%block title%}Clone Pin{%endblock%}

{%block content%}

        

<div class="row">

        <div id="fh5co-board" data-columns>
			{%for image in images %}
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{{image.imagen.url}}" class="image-popup fh5co-board-img" 
					title="{{image.descripcion}}">
						<img src="{{image.imagen.url}}" alt="">
					</a>
        		</div>
        		<div class="fh5co-desc">{{image.descripcion}}</div>
        	</div>
        	{%endfor%}
    
        </div>
        </div>
     


{%endblock%}