
{%extends "base.html" %}
{% load static %}
{%block title%}Clone Pin{%endblock%}

{%block content%}

        

<div class="row">

        <div id="fh5co-board" data-columns>

        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
        		</div>
        		<div class="fh5co-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_2.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_2.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Veniam voluptatum voluptas tempora debitis harum totam vitae hic quos.</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Optio commodi quod vitae, vel, officiis similique quaerat odit dicta.</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Dolore itaque deserunt sit, at exercitationem delectus, consequuntur quaerat sapiente.</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Tempora distinctio inventore, nisi excepturi pariatur tempore sit quasi animi.</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Sequi, eaque suscipit accusamus. Necessitatibus libero, unde a nesciunt repellendus!</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Necessitatibus distinctio eos ipsam cum hic temporibus assumenda deleniti, soluta.</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Debitis voluptatum est error nulla voluptate eum maiores animi quasi?</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="{% static 'images/img_1.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'images/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
	        		<div class="fh5co-desc">Maxime qui eius quisquam quidem quos unde consectetur accusamus adipisci!</div>
        		</div>
        	</div>
    
        </div>
        </div>
     


{%endblock%}